:root {
    --bg-color: #094067;
    --secondary-color: #9A1B14;
}

.contato {
    font-family: Arial, Helvetica, sans-serif;
    margin: -1.5rem auto;
    margin-bottom: 1rem;
}

.contato p {
    text-align: start;
}

.contato form .botao {
    height: 50px;
    border-radius: 0.3rem;
    background-color: white;
    border: 1px solid black;
}

.contato form .botao:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: .4s;
}

.form .h1-form {
    font-size: 25px;
    margin-bottom: 1rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
}

.field {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.form textarea {
    height: 150px;
    cursor: text;
}

/* fim do formulario */
