.grid-template-rows-1 {
    display: grid;
    grid-template-columns: 1 1 1 1;
    grid-template-columns: 370px 370px 370px;
    grid-template-rows: 400px 400px 400px;
    grid-gap: 20px;
    max-width: 1280px;
    margin: 3rem auto;
    justify-content: center;
}

.col-produtos-item {
    margin: 2rem auto;
}

/* 
.col-produtos-item:hover {
    transition: .5s;
    opacity: 0.5;
}
*/

.col-produtos-item img {
    width: 280px;
    height: 280px;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.col-produtos-item h2 {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
}

.grid-produtos {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: px px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }

/* end of grid - products */

@media (max-width: 999px) {
    .grid-template-rows-1 {
        grid-template-columns: none;
        grid-gap: 5rem;
    }

    .grid-title {
        text-align: center;
    }
}

/* end of @media for grid - products */